
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="Barra" style="position:static;">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="assets/Imagenes/herramientas.png" style="width: 50px; height:50px;"></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item"><input id="Abrir" type="file" (change)="leerArchivo($event.target.files)" accept=".cs"></a>
            <a class="dropdown-item" href="#" (click)="Analizar()" >ANALIZAR</a>
            <a class="dropdown-item" href="#" (click)="Traduccion()">TRADUCIR</a>
            </div>
        </li>
        </ul>
        <a class="navbar-brand" href="#" style="margin-right: 50%;">TRADUCTOR</a>
  </div>
  </nav>
  <div id="Botones" style="height: 65px;">
  
  </div>
  <h6 id="NombreSeleccion" style="text-align: center;"></h6>
  <div id="CajasTexto">
  
  </div>
  <div id="BotonesReportes">
    <button id="Boton" (click)="MostarRep('CONSOLA')">CONSOLA</button>
    <button id="Boton" (click)="MostarRep('HTML')">HTLM</button>
    <button id="Boton" (click)="MostarRep('JSON')">JSON</button>
    <button id="Boton" (click)="MostarRep('VARIABLES')">VARIABLES</button>
    <button id="Boton" (click)="MostarRep('TOKENS')">TOKENS</button>
    <button id="Boton" (click)="MostarRep('ERRORES')">ERRORES</button>
  </div>
  <div id="Reportes">
      <div id="VARIABLES" style="overflow:scroll;">
        <table id="RepText" class="VARIABLES" border="1" style="position: absolute; left: 5%; top: 5%;color: white;border-color: white;">
          <tr>
            <th> NOMBRE </th>
            <th> TIPO </th>
            <th> VALOR </th>
          </tr>
        </table>
      </div>
      <div id="CONSOLA">
        <textarea id="RepText" class="CONSOLA" style="resize: none;width: 100%;height: 100%; overflow:scroll;"></textarea>
      </div>
      <div id="HTML">
        <textarea id="RepText" class="HTML" style="resize: none;width: 100%;height: 100%; overflow:scroll;"></textarea>
      </div>
      <div id="JSON">
        <textarea id="RepText" class="JSON"style="resize: none; width: 100%;height: 100%; overflow:scroll;"></textarea>
      </div>
      <div id="TOKENS" style="overflow:scroll;">
        <table id="RepText" class="TOKENS" border="1" style="position: absolute; left: 5%; top: 5%;color: white;border-color: white;">
          <tr>
            <th> ID </th>
            <th> LEXEMA </th>
            <th> FILA </th>
            <th> COLUMNA </th>
          </tr>
        </table>
      </div>
      <div id="ERRORES" style="overflow:scroll;">
        <table id="RepText" class="ERRORES" border="1" style="position: absolute; left: 5%; top: 5%;color: white;border-color: white;">
          <tr>
            <th> ID </th>
            <th> LEXEMA </th>
            <th> TIPO </th>
            <th> ESPERADO </th>
            <th> FILA </th>
            <th> COLUMNA </th>
          </tr>
        </table>
      </div>
  </div>
  
